.heading {
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
  transition: translate(-50%, -50%);
}

.heading-italicized {
  font-style: italic;
  font-family: "EB Garamond", serif;
  font-size: 4.5rem;
  transition: translate(-50%, -50%);
  margin-bottom: 30px;
}

.titles {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  margin-top: 10px;
}

.hello {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  margin-top: 10px;
  padding-bottom: 1em;
}

.dramatic-entry {
  padding-top: 4%;
  padding-bottom: 16.5%;
}

.main-bg {
  background-image: url("images/background-pic.png");
  background-repeat: no-repeat;
  background-size: contain;
 }

 @media (max-width: 996px) {
  .main-bg {
    background-image: none;
  }
}

a.footer-link {
  width: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #5E5E5E;
}

a.nav-vertical:hover {
  color: #a1a1a1;
  text-decoration: none;
}

a.nav-horizontal:hover{
  color: #a1a1a1;
  text-decoration: none;
}

a.choo {
  color: white;
  text-decoration: none;
}

a.view-tdlab-large:hover{
  color: #c17062;
  text-decoration: none;
}

a.view-tdlab:hover{
  color: #c17062;
  text-decoration: none;
}

a.view-workwell-large:hover{
  color: #535c46;
  text-decoration: none;
}

a.view-workwell:hover{
  color: #535c46;
  text-decoration: none;
}

a.view-grow-large:hover{
  color: #786861;
  text-decoration: none;
}

a.view-grow:hover{
  color: #786861;
  text-decoration: none;
}

a.view-tablestory-large:hover{
  color: #3f525a;
  text-decoration: none;
}

a.view-tablestory:hover{
  color: #3f525a;
  text-decoration: none;
}

.nav-horizontal {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  color: #c9c9c9;
  margin-right: 24px;
}

.nav-vertical {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.25rem;
  color: #c9c9c9;

}

.view-tdlab-large {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 72px;
  color: white;
}

.view-tdlab {
  width: 70%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
}

.view-workwell-large {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 72px;
  color: white;
}

.view-workwell {
  width: 70%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
}

.view-grow-large {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 72px;
  color: white;
}

.view-grow {
  width: 70%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
}

.view-tablestory-large {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 72px;
  color: white;
}

.view-tablestory {
  width: 70%;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
}

/* *** */
/* **** PROJECT CARDS ON HOME TERRITORY **** */
/* *** */

/* These are used on the project cards on the home */
.project-card {
  margin:7% 0;
  padding-top: 40px;
  padding-bottom: 25px;
  padding-left: 6vw;
  padding-right: 6vw;
  margin-left: auto;
  margin-right: auto;
}

.project-card.first-card {
  background-color: #d4b4a6;
}

.project-card.second-card {
  background-color: #cacec4;
}

.project-card.third-card {
  background-color: #e1ddd3;
}

.project-card.fourth-card {
  background-color: #b8c5ca;
}

.footer {
  background-color: #F3F3F3;
  max-width: 100%;
  height: auto;
}

/* Project Number */
h2 {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 150px;
  color: rgba(255, 255, 255, 0.35);

  margin-top: -35px;
  margin-bottom: -5px;
}

/* Project Name */
h3 {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 72px;
  color: white;
}

.launch-page-text {
  width: 70%;
  overflow-x: wrap;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
}

.title {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 50px;
  color: white;
  padding: 0;
}

/* Description */
.subtitle {
  overflow-x: wrap;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: white;
  margin-bottom: 3vh;
  margin-top: 0;
}

.heading-text{
  overflow-x: wrap;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: white;
  margin-bottom: 5vh;
}

/* Highlights Title */
h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  color: white;
  padding-top: 15vh;
}

.project-card ul {
  padding: 0;
  list-style: none;
}

/* List of Highlights */
.project-card li {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.first-card li {
  color: #c17062;
}

.second-card li {
  color: #535c46;
}

.third-card li {
  color: #786861;
}

.fourth-card li {
  color: #3f525a;
}



/* Bumping them a bit to the right */
p,
h4,
li {
  padding-left: 10px;
}

/* Images on right side of cards */
.project-image img {
  align-self: flex-end;
}

/* You know what this is :) */
.choo {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  color: white;
  letter-spacing: 5px;
}

.main-choo.choo {
  color: #C9C9C9;
  margin-top: 2%;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
}

/* *** */
/* **** END PROJECT CARDS **** */
/* *** */

.heading-img {
  margin:3%;
  padding-top: 20px;
  padding-left: 7vw;
  padding-right: 7vw;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.heading-img.first-card {
  background-color: #d4b4a6;
}

.heading-img.second-card {
  background-color: #cacec4;
}

.heading-img.third-card {
  background-color: #e1ddd3;
}

.heading-img.fourth-card {
  background-color: #B8C5CA;
}

.tdlab-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #c17062;
  padding-top: 1em;
}

.workwell-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #535c46;
  padding-top: 1em;
}

.grow-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #786861;
  padding-top: 1em;
}

.tablestory-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  color: #3f525a;
  padding-top: 1em;
}


.text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 50%;
  line-height: 1.8em;
  color: #a1a1a1;
}

.dialogue {
  font-family: "EB Garamond", sans-serif;
  font-size: 18px;

  line-height: 1.8em;
  color: #7A826D;
  padding-left: 8em;
  padding-right: 8em;
  margin-top: 0;
}

.quote {
  font-family: "EB Garamond", sans-serif;
  font-size: 22px;
  line-height: 1.4em;
  font-style: italic;
  color: #c17062;
  margin-top: 0;
  padding-left: 2.3em;
  padding-right: 2.3em;

}

.footer-title{
  font-family: "Josefin Sans", sans-serif;
  font-size: 26px;
  color: #C9C9C9;
  padding-top: 2em;
}

.footer-text{
  width: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #a1a1a1;
}

.footer-small-text {
  width: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  color: #a1a1a1;
}

hr{
  color: #a1a1a1;
  border-width: 0.1em;
  margin-bottom: 0;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
